
.black-bar {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 130px;
  display: none; 
  z-index: 9998; 
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.buttons {
  position: fixed;
  background-color: azure;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 3px 1px rgb(150, 150, 150);
  z-index: 9997;
}


.wheelbutton{
  bottom: 30%;
  right: 40%;
  background-image: url(./icons/editcolour.png);
  background-size: cover;
}

.bodybutton{
  top: 25%;
  left: 35%;
  background-image: url(icons/editcolour.png);
  background-size: cover;
}

.windowbutton{
  top: 15%;
  left: 47%;
  background-image: url(icons/editcolour.png);
  background-size: cover;
}
#ChangeSeatBtn {
  top: 60%;
  left: 69%;
  background-image: url(icons/editcolour.png);
  background-size: cover;
}
#ChangeWheelBtn {
  top: 35%;
  left: 25%;
  background-image: url(icons/editcolour.png);
  background-size: cover;
}

.wheelbutton:hover,.bodybutton:hover,.windowbutton:hover,#viewInsideCar:hover,#lightButton:hover, #ChangeWheelBtn:hover, #ChangeSeatBtn:hover{
  background-color: darkgray;

}

.hiddenButton {
  opacity: 65%;
  display: none;
}


.insideHiddenButton {
  opacity: 65%;
  display: none;
}

#lightButton {
  top: 60%;
  left: 38%;
  background-image: url(icons/light.png);
}

#viewInsideCar {
  top: 12%;
  left: 60%;
  background-image: url(icons/inside.png);
}

#settingBtn {
  background-color: white;
  bottom: 10%;
  left: 50%; /* Center the element */
  transform: translateX(-50%); /* Adjust to move the element back by half its width */
  border-radius: 50%;
  background-image: url(icons/setting-icon.png);
  background-repeat: no-repeat;
  border: 20px white solid;
  opacity: 60%;
  background-position: center;
  z-index: 9999;
  background-size: contain;
  box-shadow: 0px 0px 4px 1px rgb(12, 12, 12);
  position: fixed;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}


#settingBtn:hover {
  background-color: darkgray;
  border: 20px darkgray solid;
  opacity: 70%;
}


#closeBtn{
  background-color: white;
  bottom: 10%;
  left: 50%; /* Center the element */
  transform: translateX(-50%); /* Adjust to move the element back by half its width */
  border-radius: 50%;
  background-image: url(icons/close.png);
  background-repeat: no-repeat;
  border: 20px white solid;
  opacity: 60%;
  background-position: center;
  z-index: 9999;
  background-size: contain;
  box-shadow: 0px 0px 4px 1px rgb(12, 12, 12);
  position: fixed;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}


 #closeMenuBtn {
  background-color: white;
  border-radius: 50%;
  background-image: url(icons/close.png);
  background-repeat: no-repeat;
  border: 20px white solid;
  opacity: 60%;
  background-position: center;
  z-index: 9999;
  background-size: contain;
  box-shadow: 0px 0px 4px 1px rgb(12, 12, 12);
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}
#closeBtnAgain {
  background-color: white;
  border-radius: 50%;
  background-image: url(icons/close.png);
  background-repeat: no-repeat;
  border: 20px white solid;
  opacity: 60%;
  background-position: center;
  z-index: 9999;
  background-size: contain;
  box-shadow: 0px 0px 4px 1px rgb(12, 12, 12);
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

#closeBtn:hover, #closeMenu:hover {
  background-color:darkgray;
  border: 20px darkgray solid;
  opacity: 70%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

#colorMenu {
  display: none;
  justify-content: center;
  position: fixed;
  bottom: 10%;
  left: 50%; 
  transform: translateX(-50%); 
}

.circle {
  width: 70px;
  height: 70px;
  margin: 0 10px; 
  border-radius: 50%;

}
.t1,.t2,.t3 {
  width: 70px;
  height: 70px;
  margin: 0 10px; 
  border-radius: 50%;
  background-color: transparent; /* Remove the white background color */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 0px 0px 4px 1px rgb(12, 12, 12);
}

.t1.image1 {
  background-image: url("textures/r35_leather_baseColor.png");
}

.t2.image2 {
  background-image: url("textures/l2.png");
}

.t3.image3 {
  background-image: url("textures/default.png");
}


#TexSeatMenu {
  display: none;
  justify-content: center;
  position: fixed;
  bottom: 10%;
  left: 50%; 
  transform: translateX(-50%); 
}



/*car colours*/
.blue { background-color: rgba(25, 26, 113); }
.green { background-color: rgb(105, 178, 65); }
.red { background-color: rgb(174, 18, 18); }
.black { background-color: black; }
.white { background-color: white; }
.golden { background-color: rgb(255, 225, 0); }
.silver { background-color: rgb(128, 128, 128); }


.page-loader{
  width: 100%;
  height: 100vh;
  position: absolute;
  background: #1f1f1f;
  z-index: 1000;
  .txt{
      color: #444444;
      text-align: center;
      top: 40%;
      position: relative;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-weight: bold;
      line-height: 1.5;
  }
}

/* Spinner animation */
.spinner {
position: relative;
top: 35%;
width: 80px;
height: 80px;
margin: 0 auto;
background-color: #fff;
border-radius: 100%;  
-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
0% { -webkit-transform: scale(0) }
100% {
  -webkit-transform: scale(1.0);
  opacity: 0;
}
}

@keyframes sk-scaleout {
0% { 
  -webkit-transform: scale(0);
  transform: scale(0);
} 100% {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  opacity: 0;
}
}